body {
    background-color: lightgrey;
    <!-- background-image: url("Placeholder"); 
}

h1 {
    color: mediumaquamarine;
    text-align: center;
    font-family: Encode Sans
}

p {
    font-family: verdana;
    font-size: 10px;
}

h2 {
    color: darkslategray;
    text-align:left;
    font-family: Encode Sans
    
}